section
  .flex.flex--center
    .col-1
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minus? Saepe itaque, necessitatibus sint rerum sapiente repudiandae blanditiis dolor commodi fugit ex velit debitis magnam. Sequi aspernatur ut sit tempora.
    
    .col-1
      p CTA Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni consectetur mollitia dolorum distinctio sit doloremque obcaecati cumque dolorem non laboriosam commodi natus pariatur quae iste fuga soluta, saepe numquam.

section
  .flex.flex--space-around
    .col-1
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minus? Saepe itaque, necessitatibus sint rerum sapiente repudiandae blanditiis dolor commodi fugit ex velit debitis magnam. Sequi aspernatur ut sit tempora.
    
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni consectetur mollitia dolorum distinctio sit doloremque obcaecati cumque dolorem non laboriosam commodi natus pariatur quae iste fuga soluta, saepe numquam.

section
  .flex.flex--center
    .col-2
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minus? Saepe itaque, necessitatibus sint rerum sapiente repudiandae blanditiis dolor commodi fugit ex velit debitis magnam. Sequi aspernatur ut sit tempora.

section
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minus? Saepe itaque, necessitatibus sint rerum sapiente repudiandae blanditiis dolor commodi fugit ex velit debitis magnam. Sequi aspernatur ut sit tempora.
    
    .col-50
      p CTA Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni consectetur mollitia dolorum distinctio sit doloremque obcaecati cumque dolorem non laboriosam commodi natus pariatur quae iste fuga soluta, saepe numquam.