mixin face(face, words, name)
  li.face(style="background-image: url(/assets/img/testimonial-avatars/#{face})") 
    .bubble
      p #{words}
      cite #{name}

section.mentoring
  .flex.flex--center
    .col-1
      ul.faces
        +face("andrew.jpg", "He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.", "- L.J Bennett")
        +face("gareth.jpg", "He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.", "- L.J Bennett")
        +face("joey.jpg", "He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.", "- L.J Bennett")
        +face("kim.jpg", "He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.", "- L.J Bennett")
        +face("lj.jpg", "He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.", "- L.J Bennett")

    .col-1
      p.home-lead.outdented ...mentoring people like you...
      a(href="#").home-cta Schedule a Call 