section.notes#notes
  .flex.flex--center
    .col-2
      p.home-lead ...&nbsp;Sending email notes&nbsp;...

      .notes-signup-box
        form
          .form-display
            .mc-field-group
              label(for="") First name
              input(type="text")
            

            .mc-field-group
              label(for="") Email address
              input(type="email")

            input(type="submit", value="Suscribe")

  .flex.flex--center
    .col-1
      p Notes are weekly email messages that come directly to your box. Most of the notes I send will never be available anywhere else.
    
    .col-1
      p A small selection of previous notes that I've made public
        ul    
          li: a(href="") Being Original
          li: a(href="") Fear
          li: a(href="") Birthday Note