section.podcast#podcast
  .flex.flex--center
    .col-2
      p.home-lead ...and Podcasting with friends.

      .podcast-content
        .podcast-thumb
          img(src="/assets/img/podcast-thumb.png")

        .podcast-text
          .podcast-meta
            .date 8 November 2017
            .title  How to make deep connections
          .player <iframe src="" height="40px" width="100%" frameborder="0"></iframe>    

  .flex.flex--center
    .col-1
      a(href="#").home-cta.web  Website

    .col-1
      a(href="#").home-cta.itunes iTunes 
