---
layout: default
title: rayediaz dot com
---
<div class="home-wrap">

  {% include header.html%}

  <div class="home-sections">

    <!-- All the sections here -->
    
    {% include section-about.html %}
    {% include section-youtube.html %}
    {% include section-articles.html %}
    {% include section-mentoring.html %}
    {% include section-vine.html %}
    {% include section-design.html %}
    {% include section-notes.html %}
    {% include section-podcast.html %}
    {% include section-footer.html %}
    <!-- {% include columns.html %} -->

    <!-- <div style="height: 2000px"></div> -->

  </div>

</div>
