
<section id="mentoring" class="mentoring">
  <div class="flex flex--center">
    <div class="col-1">
      <ul class="faces">
        <li style="background-image: url(/assets/img/testimonial-avatars/andrew.jpg)" class="face"> 
          <div class="bubble">
            <p>He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.</p>
            <cite>- L.J Bennett</cite>
          </div>
        </li>
        <li style="background-image: url(/assets/img/testimonial-avatars/gareth.jpg)" class="face"> 
          <div class="bubble">
            <p>He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.</p>
            <cite>- L.J Bennett</cite>
          </div>
        </li>
        <li style="background-image: url(/assets/img/testimonial-avatars/joey.jpg)" class="face"> 
          <div class="bubble">
            <p>He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.</p>
            <cite>- L.J Bennett</cite>
          </div>
        </li>
        <li style="background-image: url(/assets/img/testimonial-avatars/kim.jpg)" class="face"> 
          <div class="bubble">
            <p>He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.</p>
            <cite>- L.J Bennett</cite>
          </div>
        </li>
        <li style="background-image: url(/assets/img/testimonial-avatars/lj.jpg)" class="face"> 
          <div class="bubble">
            <p>He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.</p>
            <cite>- L.J Bennett</cite>
          </div>
        </li>
        <li class="back-btn face"></li>
      </ul>
    </div>
    <div class="col-1">
      <p class="home-lead outdented">...mentoring people like you...</p><a href="#" class="home-cta">Schedule a Call </a>
    </div>
  </div>
</section>