
<section id="podcast" class="podcast">
  <div class="flex flex--center">
    <div class="col-2">
      <p class="home-lead">...and Podcasting with friends.</p>
      <div class="podcast-content">
        <div class="podcast-thumb"><img src="/assets/img/podcast-thumb.png"/></div>
        <div class="podcast-text">
          <div class="podcast-meta">
            <div class="date">8 November 2017</div>
            <div class="title"> How to make deep connections</div>
          </div>
          <div class="player"><iframe src="" height="40px" width="100%" frameborder="0"></iframe>    </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex--center">
    <div class="col-1"><a href="#" class="home-cta web"> Website</a></div>
    <div class="col-1"><a href="#" class="home-cta itunes">iTunes </a></div>
  </div>
</section>