
<section id="notes" class="notes">
  <div class="flex flex--center">
    <div class="col-2">
      <p class="home-lead">...&nbsp;Sending email notes&nbsp;...</p>
      <div class="notes-signup-box">
        <form>
          <div class="form-display">
            <div class="mc-field-group">
              <label for="">First name</label>
              <input type="text"/>
            </div>
            <div class="mc-field-group">
              <label for="">Email address</label>
              <input type="email"/>
            </div>
            <input type="submit" value="Suscribe"/>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex flex--center">
    <div class="col-1">
      <p>Notes are weekly email messages that come directly to your box. Most of the notes I send will never be available anywhere else.</p>
    </div>
    <div class="col-1">
      <p>A small selection of previous notes that I've made public
        <ul>   
          <li><a href="">Being Original</a></li>
          <li><a href="">Fear</a></li>
          <li><a href="">Birthday Note</a></li>
        </ul>
      </p>
    </div>
  </div>
</section>