section.podcast
  background: 
    image: url(../img/podcast-bg.jpg)
    size: cover
    position: center
  color: white  

  .podcast-content
    display: flex
    margin-bottom: 20px

  .podcast-thumb
    margin-right: 30px

  .podcast-text
    flex: 1  
    display: flex
    flex-direction: column
    justify-content: space-between

  .title
    font-size: 30px
    line-height: 1.2
    margin-bottom: 20px  

  .col-1
    width: 310px

  .home-cta
    margin: 10px 0

  .web
    color: white
    background: #8d16de
    margin-right: 10px

  .itunes
    color: white
    background: #00cddc
    margin-left: 10px

  @media (max-width: 640px)
      .podcast-content
        flex-direction: column
        align-items: center

      .podcast-meta
        text-align: center
        margin-top: 20px  

      .podcast-thumb
        margin-right: 0  

      .player
        display: none  

      .title
        font-size: 22px
        line-height: 1

      .date
        font-size: 14px  

      .web
        margin-right: 5px
  
      .itunes
        